<div class="content">
    
        <button ng-click="order=name">Order by Name</button>
        <button ng-click="order=belt">Order by Belt</button>
        <input type="text" ng-model="search">
        <ul>
            <li ng-repeat="msg in massege | orderBy:order | filter:search" !ng-hide="msg.available">
                <img ng-src="{{msg.thumb}}" alt="" style="margin: -12px 10px 0 0; float: left;width: 50px;">
             <h3>{{msg.name}} - {{msg.rate | currency:'BDT'}}</h3>
             <div class="remove" ng-click="removeTile(msg)">x</div>
             <span >
                {{msg.belt}}
             </span>
            </li>
        </ul>
        <form ng-submit="addition()">
            <input type="text" placeholder="name" ng-model="newfield.name">
            <input type="text" placeholder="belt" ng-model="newfield.belt">
            <input type="text" placeholder="rate" ng-model="newfield.rate">
            <input type="submit" placeholder="add">
        </form>
        <!-- <img src="app\lib\imge.jpg" alt=""> -->
    
</div>

<!-- <div ng-controller="ninjaController"></div> -->